              <div class="login">
                    <h1 class="title" style="color: rgb(173, 95, 245);">Login In</h1><br><br>
                    <p class="intro">Please fill in your information</p> 
                <div class="myform">
  
        
                    <label class="sr-only" for="username">Username</label>
                    <div class="input-group">
                    <i class="input-group-text fa fa-user-o"></i>
                    <input type="text" name="Username" class="form-control" id="Username" placeholder="Username" value="{{ Username }}">
                   </div>  <br>
        
                     <label class="sr-only" for="password">Password</label>
                     <div class="input-group">
                     <i class="input-group-text fa fa-key"></i>
                     <input type="password" name="Password" class="form-control" id="Password" placeholder="Password" value="{{ Password }}" class="input-group-text fa fa-key">
                       
                </div><br>
                <center><button type="submit" name="submit" class="btn1">Login</button><br><br>
                <p class="link">Don't have an account ?<br>
                    <a href="/usersign">Sign Up</a> here</p><hr>
                    </center>
                </div>
            </div>       
                       
        </form>
        
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>    {% endcomment %}