{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
  
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>


<body id="indexbody" style="background-image: url({%static 'images/image1.jpg' %});">
  <center><H2 id="editH2">BLOGS WORLD</H2></center>

    <form method="POST" action="/update/{{Blogs1.id}}">
        {% csrf_token %}
        <div class="container" id="indexcontainer" style="background-image: url({%static 'images/image44.jpeg' %})";>
            <h4 id="editH4">UPDATE YOUR BLOG</h4><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <label for="title">Bloger Title  :</label>
                        <input type="text" name="title" id="id_title" required maxlength="20" value="{{ Blogs1.title }}"/>
                      </div> <br>           
                </div><br>
                <div class="col-lg-12">
                    <div class="input-group">
                        <label for="name">Bloger Name :</label>
                        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ Blogs1.name }}" />
                      </div>  <br>          
                </div><br>
                <div class="col-lg-12">
                    <div class="input-group">
                        <label for="content">Blog Content :</label>
                        <input type="text" name="content" id="id_content" required maxlength="354" value="{{ Blogs1.content }}" />
                      </div>             
                </div>
            </div><br>
            <button type="submit" id="mybtn1" class="btn btn-primary">Update</button><br><br>
        </div>
    </form>


</body>
</html>
       
     












